PORT=4000
NODE_ENV=development
# MONGODB_URI=
# JWT_SECRET=
# ADMIN_EMAIL=
# ADMIN_PASSWORD=
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
# SMTP_HOST=
# SMTP_PORT=
# SMTP_USER=
# SMTP_PASS=

